<!--model Pobiera faktury-->
@model IEnumerable<InvoiceManager.Models.Domains.Invoice>

@{
    ViewBag.Title = "Faktury";
}

<h1 class="mb-3">Faktury</h1>
<button class="=btn btn-primary mb-3"
        onclick='window.location.href="@Url.Action("Invoice", "Home")"'>
    Dodaj
</button> <!--w Controlers.HomeControler deklarujemy akcję Invoice-->

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scoupe="col">Tytuł</th>
                <th scoupe="col">Klient</th>
                <th scoupe="col">Wartość</th>
                <th scoupe="col">Data utworzenia</th>
                <th scoupe="col">Termin płatności</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr>
                    <td>
                        <!--do kontrolera możemy przekazać jakiś parametr np id przez instr new bez nazwy zmiennej-->
                        <a href="@Url.Action("Invoice", "Home", new { id = invoice.Id})">
                            @invoice.Title
                        </a>
                        
                    </td>
                    <td>@invoice.Client.Name</td>
                    <td>@invoice.Value zł</td>
                    <td>@invoice.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>@invoice.PaymentDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteInvoice('@invoice.Id', this)">
                            <!--wywołujemy skrypt java Ajax żeby nie przeładowywać strony-->
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Brak faktur do wyświetleń
    </div>
}

<!--section zostanie wstawiona do _Layout.cshtml w RenderSection-->
@section Scripts
{
    <script type="text/javascript">
        function deleteInvoice(id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć fakturę?"))
                return;
            $.ajax({
                //usuwanie z bazy a poniżej z kodu html
                type: 'POST',
                url: "@Url.Action("Delete", "Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        //usuwanie
                        //alert("1");
                        var row = btn.parentNode.parentNode; //2 x parNode ponieważ 1 w tabeli to td potem tr czyli cały node
                       // alert("2");
                        row.parentNode.removeChild(row); //znów poziom wyżej i ten rodzic usuwa swoje diecko czyli cały wiersz w html
                        //alert("3");
                    
                    } else {
                    //    alert("bład");
                        alert(data.Meesage);
                    }

                },
                error: function (data) {
                    if (data.Success) {

                    } else {
                        alert("bład 2");
                        alert(data.Meesage);
                    }
                },
                dataType: 'json'
            });
        }

    </script>

}